@import "tailwindcss";

:root {
  --u-grid-columns: 2;
  --u-grid-gap: 4rem;
  --c-accent-light: #22df90;
  --c-accent-dark: #1f3632;
  @media (min-width: 46em) {
    --u-grid-columns: 8;
  }
}

@theme inline {
  --font-sans: var(--font-instrument-sans);
  --ease-circ: cubic-bezier(0.645, 0, 0.045, 1);
  --spacing-container-sm: 1.4rem;
  --spacing-container-md: 3rem;
}

.o-grid {
  display: grid;
  grid-template-columns: repeat(var(--u-grid-columns), 1fr);
  column-gap: var(--u-grid-gap);
  row-gap: calc(var(--u-grid-gap) * 1.25);
}

.o-grid--bleed {
  margin: 0 calc(-1 * var(--u-container-padding));
  padding: 0 var(--u-container-padding);
}

body {
  font-size: 1.125rem;
  line-height: 1.5;
  background: white;
  color: var(--c-accent-dark);
}

p:not(:last-child) {
  margin-bottom: 0.8rem;
}

h1 {
  margin-bottom: 1.2rem;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  font-weight: 400;
}

.c-action {
  font: 1rem/1.5 var(--font-sans);
  font-weight: 600;
  color: var(--c-accent-dark);
  background-color: var(--c-accent-light);
  padding: 0.8rem 1rem;
  transition: all 0.2s ease-in-out;
}
.c-action:hover {
  opacity: 0.8;
}
